<%- include("head") %>

<body>
  <div class="card" id="cart" style="display: none;">
    <h1 class="section-title">CARRINHO DE COMPRAS</h1>
    <div class="container_card">


      <div class="pedido">
        <div class="cont_img">
          <img src="https://picsum.photos/100" alt="">
        </div>
        <div class="cont_text">
          <h3>Nome do item</h3>
          <p>It has survived not only five centuries, but also the leap into electronic</p>
        </div>
      </div>

      <div class="pedido">
        <div class="cont_img">
          <img src="https://picsum.photos/100" alt="">
        </div>
        <div class="cont_text">
          <h3>Nome do item</h3>
          <p>It has survived not only five centuries, but also the leap into electronic</p>
        </div>
      </div>

      <div class="pedido">
        <div class="cont_img">
          <img src="https://picsum.photos/100" alt="">
        </div>
        <div class="cont_text">
          <h3>Nome do item</h3>
          <p>It has survived not only five centuries, but also the leap into electronic</p>
        </div>
      </div>

      <div class="pedido">
        <div class="cont_img">
          <img src="https://picsum.photos/100" alt="">
        </div>
        <div class="cont_text">
          <h3>Nome do item</h3>
          <p>It has survived not only five centuries, but also the leap into electronic</p>
        </div>
      </div>

      <div class="pedido">
        <div class="cont_img">
          <img src="https://picsum.photos/100" alt="">
        </div>
        <div class="cont_text">
          <h3>Nome do item</h3>
          <p>It has survived not only five centuries, but also the leap into electronic</p>
        </div>
      </div>

      <div class="pedido">
        <div class="cont_img">
          <img src="https://picsum.photos/100" alt="">
        </div>
        <div class="cont_text">
          <h3>Nome do item</h3>
          <p>It has survived not only five centuries, but also the leap into electronic</p>
        </div>
      </div>

      <button class="btn-default">CONCLUIR PEDIDO</button>

    </div>
  </div>
</body>


<%- include("headerFinal") %>
