 <%- include('partials/head') %>

 <body>

   <%- include('partials/navbar') %>

   <section id="catalogo">
     <h2 class="section-title">Catálogo</h2>
     <div id="filters">
       <input type="text" placeholder="Buscar por nome...">
       <select>
         <option>Todos os sabores</option>
         <option>Chocolate</option>
         <option>Frutas</option>
         <option>Tradicional</option>
       </select>
     </div>
     <div id="product-list">

       <div id="dishes">
         <div class="dish">
           <div class="dish-heart">
             <i class="fa-solid fa-heart"></i>
           </div>

           <img src="img/Abacaxi.jpg" alt="">

           <h3 class="dish-title">
             Abacaxi
           </h3>Bolo de Abacaxi

           <span class="dish-description">
             Uma explosão de sabores: bolo irresistível com camadas de abacaxi.
           </span>

           <div class="dish-rate">
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <span>(500+)</span>
           </div>

           <div class="dish-price">
             <h4>R$25,00</h4>
             <button class="btn-default">
               <i class="fa-solid fa-basket-shopping"></i>
             </button>
           </div>
         </div>

         <div class="dish">
           <div class="dish-heart">
             <i class="fa-solid fa-heart"></i>
           </div>

           <img src="img/Abacaxi.jpg" alt="">

           <h3 class="dish-title">
             Abacaxi
           </h3>Bolo de Abacaxi

           <span class="dish-description">
             Uma explosão de sabores: bolo irresistível com camadas de abacaxi.
           </span>

           <div class="dish-rate">
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <span>(500+)</span>
           </div>

           <div class="dish-price">
             <h4>R$25,00</h4>
             <button class="btn-default">
               <i class="fa-solid fa-basket-shopping"></i>
             </button>
           </div>
         </div>

         <div class="dish">
           <div class="dish-heart">
             <i class="fa-solid fa-heart"></i>
           </div>

           <img src="img/Abacaxi.jpg" alt="">

           <h3 class="dish-title">
             Abacaxi
           </h3>Bolo de Abacaxi

           <span class="dish-description">
             Uma explosão de sabores: bolo irresistível com camadas de abacaxi.
           </span>

           <div class="dish-rate">
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <span>(500+)</span>
           </div>

           <div class="dish-price">
             <h4>R$25,00</h4>
             <button class="btn-default">
               <i class="fa-solid fa-basket-shopping"></i>
             </button>
           </div>
         </div>

         <div class="dish">
           <div class="dish-heart">
             <i class="fa-solid fa-heart"></i>
           </div>

           <img src="img/Abacaxi.jpg" alt="">

           <h3 class="dish-title">
             Abacaxi
           </h3>Bolo de Abacaxi

           <span class="dish-description">
             Uma explosão de sabores: bolo irresistível com camadas de abacaxi.
           </span>

           <div class="dish-rate">
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <span>(500+)</span>
           </div>

           <div class="dish-price">
             <h4>R$25,00</h4>
             <button class="btn-default">
               <i class="fa-solid fa-basket-shopping"></i>
             </button>
           </div>
         </div>

         <div class="dish">
           <div class="dish-heart">
             <i class="fa-solid fa-heart"></i>
           </div>

           <img src="img/Abacaxi.jpg" alt="">

           <h3 class="dish-title">
             Abacaxi
           </h3>Bolo de Abacaxi

           <span class="dish-description">
             Uma explosão de sabores: bolo irresistível com camadas de abacaxi.
           </span>

           <div class="dish-rate">
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <span>(500+)</span>
           </div>

           <div class="dish-price">
             <h4>R$25,00</h4>
             <button class="btn-default">
               <i class="fa-solid fa-basket-shopping"></i>
             </button>
           </div>
         </div>

         <div class="dish">
           <div class="dish-heart">
             <i class="fa-solid fa-heart"></i>
           </div>

           <img src="img/Abacaxi.jpg" alt="">

           <h3 class="dish-title">
             Abacaxi
           </h3>Bolo de Abacaxi

           <span class="dish-description">
             Uma explosão de sabores: bolo irresistível com camadas de abacaxi.
           </span>

           <div class="dish-rate">
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <span>(500+)</span>
           </div>

           <div class="dish-price">
             <h4>R$25,00</h4>
             <button class="btn-default">
               <i class="fa-solid fa-basket-shopping"></i>
             </button>
           </div>
         </div>

         <div class="dish">
           <div class="dish-heart">
             <i class="fa-solid fa-heart"></i>
           </div>

           <img src="img/Abacaxi.jpg" alt="">

           <h3 class="dish-title">
             Abacaxi
           </h3>Bolo de Abacaxi

           <span class="dish-description">
             Uma explosão de sabores: bolo irresistível com camadas de abacaxi.
           </span>

           <div class="dish-rate">
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <span>(500+)</span>
           </div>

           <div class="dish-price">
             <h4>R$25,00</h4>
             <button class="btn-default">
               <i class="fa-solid fa-basket-shopping"></i>
             </button>
           </div>
         </div>


         <div class="dish">
           <div class="dish-heart">
             <i class="fa-solid fa-heart"></i>
           </div>

           <img src="img/Brigadeiro.jpg" class="dish-image" alt="">

           <h3 class="dish-title">
             Brigadeiro
           </h3>Bolo de Brigadeiro

           <span class="dish-description">
             Uma explosão de sabores: bolo irresistível com camadas de brigadeiro.
           </span>

           <div class="dish-rate">
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <span>(500+)</span>
           </div>

           <div class="dish-price">
             <h4>R$25,00</h4>
             <button class="btn-default">
               <i class="fa-solid fa-basket-shopping"></i>
             </button>
           </div>
         </div>

         <div class="dish">
           <div class="dish-heart">
             <i class="fa-solid fa-heart"></i>
           </div>

           <img src="img/Cenoura.jpg" class="dish-image" alt="">

           <h3 class="dish-title">
             Cenoura
           </h3>Bolo de Cenoura

           <span class="dish-description">
             Uma explosão de sabores: bolo irresistível com camadas de cenoura.
           </span>

           <div class="dish-rate">
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <span>(500+)</span>
           </div>

           <div class="dish-price">
             <h4>R$25,00</h4>
             <button class="btn-default">
               <i class="fa-solid fa-basket-shopping"></i>
             </button>
           </div>
         </div>

         <div class="dish">
           <div class="dish-heart">
             <i class="fa-solid fa-heart"></i>
           </div>

           <img src="img/Morango.jpg" class="dish-image" alt="">

           <h3 class="dish-title">
             Morango
           </h3>Bolo de Morango

           <span class="dish-description">
             Uma explosão de sabores: bolo irresistível com camadas de morango.
           </span>

           <div class="dish-rate">
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <span>(500+)</span>
           </div>

           <div class="dish-price">
             <h4>R$20,00</h4>
             <button class="btn-default">
               <i class="fa-solid fa-basket-shopping"></i>
             </button>
           </div>
         </div>
       </div>

     </div>
   </section>

   <%- include('partials/footer') %>

 </body>

 <%- include('partials/headerFinal') %>
