<%- include('partials/head') %>

<body>
  <section id="login">
    <form class="login-form" action="/login" method="POST">
      <h2>Entrar na sua conta</h2>
      <input type="email" placeholder="Email" required name="email">
      <input type="password" placeholder="Senha" name="senha">
      <button class="btn-default" type="submit">Login</button>
      <a href="#">Esqueci minha senha</a>
    </form>
  </section>
</body>
