* {
    box-sizing: border-box;
}


.card {
    width: 30%;
    background-color: antiquewhite;
    min-height: 100%;

    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
}

.card h1 {
    text-align: center;
}

.card .container_card {
    min-height: 100%;
    width: 100%;
    padding: 15px;
}

.container_card .pedido {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 20px;
    height: 110px;
   transition: height 0.5s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.container_card .pedido:hover {
    height: 130px;
}

.container_card .btn-default {
    width: 100%;
    height: 55px;
    margin-top: auto;
}

.pedido .cont_img {

    margin-right: 10px;
}

.cont_img img {
    width: 90px;
    border-radius: 10px;
}

.cont_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont_text h3 {
    margin-bottom: 10px;
    margin-right: auto;
}

.cont_text p {
font-size: 14px;
color: #3f3f3f;
}

#cart {
    position: fixed;
    top: 0;
    left: -400px; /* Escondido inicialmente à esquerda */
    width: 350px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 5px 0 15px rgba(0,0,0,0.2);
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
}

#cart.active {
    left: 0; /* Move para dentro da tela */
}

