@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testimonials.css');
@import url('footer.css');

:root {
    --color-primary-1: #fff9ea;
    --color-primary-2: #8B4513;
    --color-primary-3: #8B4513;
    --color-primary-4: #8B4513;
    --color-primary-5: #8B4513;
    --color-primary-6: #8B4513;

    --color-neutral-0: #fff;
    --color-neutral-1: #1d1d1d;
}

/* Reset e padrão global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  background-color: var(--color-primary-1); /* ou diretamente #fff9ea */
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

body, main {
  flex: 1;
  padding-bottom: 100px; /* evita que conteúdo encoste ou fique atrás do footer fixo */
}



section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8B4513;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
    color: white;
}

.btn-default:hover {
    background-color: #ff6a00;
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-neutral-0);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-neutral-1);;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: #8B4513;
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
}

header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: #8B4513;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a {
    color: var(--color-neutral-1);
    border-bottom: 3px solid #8B4513;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

.kart-seccion {
    display: flex;
    align-items: center;
    gap: 15px;
}

.kart-button {
    display: flex;
    cursor: pointer;
  
    padding: 15px;
    align-items: center;
}

.kart-seccion span {
   display: flex;
   align-items: center;
   justify-content: center;
    background-color: #8B4513;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    font-size: 10px;
}

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    } 
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cta {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 4rem;
    color: var(--color-neutral-1);;
}

#cta .title span {
    color: #8B4513;
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: var(--color-neutral-1);;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button button {
    box-shadow: none;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 70%;
    z-index: 2;
}


#banner img {
    border-radius: 20px;
    width: 90%;
}
@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

#dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
    height: 100%;
}

.dish {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  gap: 18px;
  padding: 20px;
  background-color: var(--color-neutral-0);
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: 0.5s;

  flex: 0 1 calc(25% - 24px); /* 4 por linha com espaçamento */
  box-sizing: border-box;
  max-width: 100%; /* garante que não ultrapasse */
}


.dish:hover {
    width: 450px;
    cursor: pointer;
}

.dish img {
    width: 600px;
}

.dish-heart {
    position: absolute;
    background-color: #8B4513;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: var(--color-primary-1);
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.dish-description {
    color: #434343;
    text-align: center;
}

.dish-rate i {
    color: #8B4513;
}

.dish-price {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1000px) {
    #dishes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish {
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 600px) {
    .dish {
        width: 100%;
    }

    #menu .section-subtitle {
        text-align: center;
    }
}

footer {
    margin-top: 50px;
    background-color: var(--color-primary-2);
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: var(--color-neutral-1);;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}

#testimonials {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#testimonial_chef {
    width: 500px;
    height: auto;
}

#testimonials .section-subtitle {
    font-size: 3rem;
}

#testimonials_content {
    width: 50%;
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedback {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--color-neutral-0);
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback-content p {
    display: flex;
    justify-content: space-between;
}

.feedback-content p span {
    color: #8B4513;
}

@media screen and (max-width: 1170px) {
    #testimonials {
        flex-direction: column;
    }

    #testimonials .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    #testimonial_chef {
        display: none;
    }

    #testimonials_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #testimonials .section-subtitle {
        font-size: 2rem;
    }

    #testimonials_content {
        width: 100%;
    }

    .feedback {
        flex-direction: column;
    }


} 



